<div class="container">
    <div class="row">
  
        <div class="col-xs-12 col-md-12 col-md-offset-3 ">
        
                    <form class="pt-4">

                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Forgot Password</h4>
                        </div>
                        <div class="form-group w-50">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" name="email" [(ngModel)]="email">
                        </div>
                        
                       
                        <button type="submit" class="btn btn-info" (click)="forgotPasssword()">Send Link</button>

                        <div class="row">
                            <div class="col-md-6">
                                <a routerLink="/login"  style="text-decoration: none;">Back To  <span class="text-danger">Login</span></a>

                            </div>
                         
                        </div>
                      </form>
                </div>
            </div>
        </div>


        <div class="container">
            <a href="#" data-target="#pwdModal" data-toggle="modal">Forgot my password</a>
          </div>
          
          <!--modal-->
          <div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="text-center">What's My Password?</h1>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                          <div class="panel panel-default">
                              <div class="panel-body">
                                  <div class="text-center">
                                    
                                    <p>If you have forgotten your password you can reset it here.</p>
                                      <div class="panel-body">
                                          <fieldset>
                                              <div class="form-group">
                                                  <input class="form-control input-lg" placeholder="E-mail Address" name="email" type="email">
                                              </div>
                                              <input class="btn btn-lg btn-primary btn-block" value="Send My Password" type="submit">
                                          </fieldset>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>
               
            </div>
            </div>
          </div>