<!--start footer-->
<div class="footer">
    <div class="container">
      <div class="row">
        <div class=" col-sm-12 col-lg-6">
  <div class="info">
    <h2 style="color: #3adb6b;;">OStore</h2>
    
  <p>OShop  is an online shopping store  , you can find your product in ,
    <br> add it in your cart or favoeite , finally you can order </p>

  
  
  </div>
        </div>
        <div class="col-sm-12 col-lg-3">
          <div class="helpful-links">
  <h2> SHOP</h2>
  <div class="row">
    <div class="col">
      <ul class="list-unstyled">
        <li><i class="fas fa-chevron-right"></i>Men</li>
        <li><i class="fas fa-chevron-right"></i> Women</li>
        <li> <i class="fas fa-chevron-right"></i>watches</li>
        <li><i class="fas fa-chevron-right"></i>furniture</li>
        <li><i class="fas fa-chevron-right"></i>Accessories</li>
      </ul>
    </div>
   
  </div>
          </div>
          
        </div>
        <div class="col-sm-12 col-lg-3">
              <div class="contact">
                <h2>Contact Us</h2>
                <ul class="list-unstyled">
                  <li>Address :  Cairo  , EG </li>
                  <li>Phone : 01159350591</li>
                  <li >Email : <a  style="text-decoration: none;color: #202020;" href="mailto:bassamramadan964@gmail.com ">Bassam Ramadan </a></li>
                </ul>
            
              </div>
        
          
        </div>
      </div>
    </div>
  </div>
  <!--end footer-->
  <!-- start copyright-->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-6  copy text-center text-sm-left ">
  Developed By Bassam Ramadan &copy; 2023 . All rights reserved
        </div>
       
      
       <div class="col-sm-6 text-center text-sm-right">
        <ul class="list-unstyled d-blok">
          <li><a href="https://www.facebook.com/profile.php?id=100007638137434"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://www.linkedin.com/in/bassam-ramadan-14436a185/"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="https://github.com/BassamRamadan2611"><i class="fab fa-github"></i></a></li>
          <li><a href="https://twitter.com/BassamR52891973"><i class="fab fa-twitter"></i></a></li>
        </ul>

    </div>
    
  </div>
  
  
    </div>
  </div>
  <!--end copyright-->